<!DOCTYPE html>
<html lang="en">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet"><head>
  <%- include('./partials/head') %>
  <title>Blog</title>
  <style>
    body {
      font-family: 'Times New Roman', Times, serif; 
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.707);
      color:white;
    }

    .blogcontainer {
      max-width: 82vw;
      margin-top: 60px;
      margin-left: 16vw;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    .Title{
      display: flex;
      position:relative;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 20px;
      color: #333;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 10px 0;
    }

    video {
      display: block;
      max-width: 100%;
      margin: 10px 0;
    }

    pre {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .Info {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }

    .Info img {
      border-radius: 50%;
      margin-right: 10px;
    }

    .Info div {
      font-size: 18px;
      font-weight: bold;
    }

    form {
      margin-top: 20px;
    }

    form .mb-3 {
      display: flex;
      margin-bottom: 20px;
    }

    form input {
      flex: 1;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    form button {
      margin-left: 5px;
      height: 43px;
      padding: 8px 12px;
      font-size: 16px;
      color: white;
      background-color: rgba(0, 0, 0, 0.801);
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    form button:hover {
      background-color: rgb(0, 0, 0);
    }

    .icon {
      position: absolute;
      right: 0;
      cursor: pointer;
      fill: #000;
      transition: fill 0.3s;
    }

    .icon:hover {
      fill: #040404a1;
    }

    .comments {
      margin-top: 20px;
    }

    .comments div {
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    .comments img {
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
    }

    .comments span {
      font-weight: bold;
      font-size: 16px;
    }

    .comments pre {
      margin: 10px 0;
      font-size: 14px;
      color: #444;
    }
  </style>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="blogcontainer">
      <div class="Title">
        <h1>
          <%= blog.title %>
        </h1>
        <% if(blog.createdBy._id == user._id) { %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="deleteBlog icon" data-blogId="<%= blog._id %>">
            <path d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path d="M3 5.5H21M16.0557 5.5L15.3731 4.09173C14.9196 3.15626 14.6928 2.68852 14.3017 2.39681C14.215 2.3321 14.1231 2.27454 14.027 2.2247C13.5939 2 13.0741 2 12.0345 2C10.9688 2 10.436 2 9.99568 2.23412C9.8981 2.28601 9.80498 2.3459 9.71729 2.41317C9.32164 2.7167 9.10063 3.20155 8.65861 4.17126L8.05292 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path d="M9.5 16.5L9.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path d="M14.5 16.5L14.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
          </svg>
        <% } %>
      </div>
      <% if(blog.coverImageURL.endsWith(".mp4")) {%>
        <video src="<%= blog.coverImageURL %>" loop controls></video>
      <% } else {%>
        <img src="<%= blog.coverImageURL %>" />
      <% } %>
      <pre><%= blog.body %></pre>
      <div class="Info">
        <img src="<%= blog.createdBy.profileImageURL %>" width="50px" />
        <div><%= blog.createdBy.fullName %></div>
      </div>
    </div>

    <div class="blogcontainer comments">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
        <form action="/blog/comment/<%= blog._id %>" method="post">
          <div class="mb-3">
            <input type="text" name="content" placeholder="Enter your comment" />
            <button class="commentbtn" type="submit">Add</button>
          </div>
        </form>
      <% } %>
      <% comments.forEach(comment => { %>
        <div>
          <img src="<%= comment.createdBy.profileImageURL %>" width="30px" />
          <span><%= comment.createdBy.fullName %></span>
          <% if(comment.createdBy._id == user._id) { %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="deleteIcon icon" data-blogId="<%= blog._id %>" data-id="<%= comment._id %>">
              <path d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
              <path d="M3 5.5H21M16.0557 5.5L15.3731 4.09173C14.9196 3.15626 14.6928 2.68852 14.3017 2.39681C14.215 2.3321 14.1231 2.27454 14.027 2.2247C13.5939 2 13.0741 2 12.0345 2C10.9688 2 10.436 2 9.99568 2.23412C9.8981 2.28601 9.80498 2.3459 9.71729 2.41317C9.32164 2.7167 9.10063 3.20155 8.65861 4.17126L8.05292 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
              <path d="M9.5 16.5L9.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
              <path d="M14.5 16.5L14.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            </svg>
          <% } %>
          <pre><%= comment.content %></pre>
        </div>
      <% }) %>
    </div>
  </div>

  <%- include('./partials/scripts') %>

  <script>
    document.querySelectorAll('.deleteIcon').forEach(icon => {
      icon.addEventListener('click', async (e) => {
        const target = e.target.closest('svg');
        const commentId = target.dataset.id;
        const blogId = target.dataset.blogId;

        const confirmation = confirm('Are you sure you want to delete this comment?');
        if (!confirmation) return;

        try {
          const response = await fetch(`/blog/${blogId}/comment/${commentId}`, {
            method: 'DELETE',
          });

          if (response.ok) {
            location.reload();
          } else {
            alert('Error deleting comment');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('Failed to delete comment');
        }
      });
    });

    document.querySelector('.deleteBlog')
    .addEventListener('click', async (e) => {
        const target = e.target.closest('svg');
        const blogId = target.dataset.blogid;

        const confirmation = confirm('Are you sure you want to delete this blog?');
        if (!confirmation) return;

        try {
          const response = await fetch(`/blog/${blogId}`, {
            method: 'DELETE',
          });
          if (response.ok) {
            window.location.href = '/home';
          } else {
            alert('Error deleting blog');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('Failed to delete blog');
        }
      });
    
  </script>

</body>

</html>
