<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <style>
      .card{
        height: 300px; width:415px; 
        border: 2px solid rgba(0, 0, 0, 0.557);
        margin: 0.25vw;
        margin-bottom: 8px;
        display:inline-block;
        
        border-radius: 10px;
      }
      video{
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        width: 412px;
      }
      .coverimg{
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        width: 412px;
      }
      .card:hover{
        cursor:pointer;
        opacity: 0.9;
      }
      .title{
        height:68px;
        display:flex;
        justify-content:center;
        align-items:center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if(locals.searchedBlogs) {%>
    <div class="blogscontainer" style="display: inline-block;margin-left:15.7vw;margin-top:60px">
      <% searchedBlogs.forEach(blog => { %>
        <div class="card" onclick="redirectToBlogPage('/blog/<%= blog._id %>')">
          <div style="height:232px;width:415px">
            <% if(blog.coverImageURL.endsWith(".mp4")) {%>
            <video src="<%= blog.coverImageURL %>"  style="height:232px" loop muted></video>
            <% }
              else {%>
              <img class="coverimg" src="<%= blog.coverImageURL %>"  style="height:232px" >
              <% } %>
          </div>  
          <div class="title">
            <h5 ><%= blog.title %></h5>
          </div>
        </div>
      <% })} %>
    </div>
    <% if(locals.blogs) {%>
      <div class="blogscontainer" style="display: inline-block;margin-left:15.7vw;margin-top:60px">
        <% blogs.forEach(blog => { %>
          <div class="card" onclick="redirectToBlogPage('/blog/<%= blog._id %>')">
            <div style="height:232px;width:415px">
              <% if(blog.coverImageURL.endsWith(".mp4")) {%>
              <video src="<%= blog.coverImageURL %>"  style="height:232px" loop muted></video>
              <% }
                else {%>
                <img class="coverimg" src="<%= blog.coverImageURL %>"  style="height:232px" >
                <% } %>
            </div>  
            <div class="title">
              <h5 ><%= blog.title %></h5>
            </div>
          </div>
        <% }) %>
      </div>
      <% } %>
      <%- include('./partials/scripts') %>
      
    <script>
      const videos = document.querySelectorAll('video');

      function redirectToBlogPage(path){
        window.location.href = path;
      }

      videos.forEach(video => {
        video.addEventListener('mouseenter', () => {
          video.play(); 
        });
      
        video.addEventListener('mouseleave', () => {
          video.pause(); 
          video.currentTime = 0; 
        });
      });
    </script>
  </body>
</html>
