<!DOCTYPE html>
<html lang="en">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">  
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <style>
      .card{
        height: 300px; width:415px; 
        border: 2px solid rgba(0, 0, 0, 0.557);
        margin: 0.25vw;
        margin-bottom: 8px;
        display:inline-block;
         border-radius: 10px; 
      }
      video{
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        width: 412px;
      }
      .coverimg{
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        width: 412px;
      }
      .card:hover{
        cursor:pointer;
        opacity: 0.9;
        animation: rotatecard 0.5s ease-in-out forwards;
        animation-direction: alternate;
        
      }
      @keyframes rotatecard {
        0% {
        transform: scale(1) translate3d(0, 0, 0); 
       }
       
    100% {
      transform: scale(1.05) translate3d(0, 0, 150px); 
    }
      }
      .title{
        height:68px;
        display:flex;
        justify-content:start;
        margin-left: 10px;
        align-items:center;
        font-family: "Fraunces", serif;
        font-weight: bolder;
      }
    
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <% if(locals.searchedBlogs) {%>
    <div class="blogscontainer" style="display: inline-block;margin-left:15.7vw;margin-top:60px">
      <% searchedBlogs.forEach(blog => { %>
        <div class="card" onclick="redirectToBlogPage('/blog/<%= blog._id %>')">
          <div style="height:232px;width:415px">
            <% if(blog.coverImageURL.endsWith(".mp4")) {%>
            <video src="<%= blog.coverImageURL %>"  style="height:232px" loop muted></video>
            <% }
              else {%>
              <img class="coverimg" src="<%= blog.coverImageURL %>"  style="height:232px" >
              <% } %>
          </div>  
          <div class="title">
            <h5 ><%= blog.title %></h5>
          </div>
        </div>
      <% })} %>
    </div>
    <% if(locals.blogs) {%>
      <div class="blogscontainer" style="display: inline-block;margin-left:15.7vw;margin-top:60px">
        <% blogs.forEach(blog => { %>
          <div class="card" onclick="redirectToBlogPage('/blog/<%= blog._id %>')">
            <div style="height:232px;width:415px">
              <% if(blog.coverImageURL.endsWith(".mp4")) {%>
              <video src="<%= blog.coverImageURL %>"  style="height:232px" loop muted></video>
              <% }
                else {%>
                <img class="coverimg" src="<%= blog.coverImageURL %>"  style="height:232px" >
                <% } %>
            </div>  
            <div class="title">
              <h5 ><%= blog.title %></h5>
            </div>
          </div>
        <% }) %>
      </div>
      <% } %>
      <%- include('./partials/scripts') %>
      
    <script>
      const videos = document.querySelectorAll('video');

      function redirectToBlogPage(path){
        window.location.href = path;
      }

      videos.forEach(video => {
        video.addEventListener('mouseenter', () => {
          video.play(); 
        });
      
        video.addEventListener('mouseleave', () => {
          video.pause(); 
          video.currentTime = 0; 
        });
      });
    </script>
  </body>
</html>
